apiVersion: v1
kind: ConfigMap
metadata:
  name: &app-name go-payfee-cm
  namespace: test-a
  labels:
    app: *app-name
data:
  API_VERSION: "2.0"
  POD_NAME: "go-payfee.k8"
  PORT: "5004"
  SETPOD_AZ: "false"
  REDIS_CLUSTER_ADDRESS: "clustercfg.memdb-arch.vovqz2.memorydb.us-east-2.amazonaws.com:6379"
